<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>gae-paypal-poc</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>payPalEnvironment</param-name>
		<param-value>SANDBOX</param-value>
	</context-param>
	
	<listener>
	    <listener-class>com.streamhead.gae.paypal.ipn.IPNContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>IPNServlet</servlet-name>
		<servlet-class>com.streamhead.gae.paypal.ipn.IPNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IPNValidationServlet</servlet-name>
		<servlet-class>com.streamhead.gae.paypal.ipn.IPNValidationServlet</servlet-class>
		<init-param>
			<description>Task to launch after validation</description>
			<param-name>processingTask</param-name>
			<param-value>/ipn/process</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>IPNProcessingServlet</servlet-name>
		<servlet-class>com.streamhead.gae.paypal.ipn.IPNProcessingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayPal Test Application</servlet-name>
		<servlet-class>
		com.vaadin.terminal.gwt.server.GAEApplicationServlet</servlet-class>
		<init-param>
			<description>
			Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.streamhead.gae.paypal.PayPalApplication</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IPNServlet</servlet-name>
		<url-pattern>/ipn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPNValidationServlet</servlet-name>
		<url-pattern>/ipn/validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPNProcessingServlet</servlet-name>
		<url-pattern>/ipn/process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayPal Test Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
